<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.search.FfwysearchMapper">

    <resultMap type="FfwyVideoSearch" id="FfwyVideoResult">
        <result property="videoId" column="video_id"/>
        <result property="videoPath" column="video_path"/>
        <result property="videoTitle" column="video_title"/>
        <result property="videoLove" column="video_love"/>
        <result property="videoTrans" column="video_trans"/>
        <result property="createTime" column="create_time"/>
        <result property="videoIntro" column="video_intro"/>
        <result property="userName" column="user_name"/>
        <result property="videoComment" column="video_comment"/>
        <result property="commentTime" column="comment_time"/>
        <result property="commentname" column="commentname"/>
        <result property="photo" column="photo"/>
        <result property="countcomment" column="countcomment"/>
        <result property="isLove"  column="isLove"/>

    </resultMap>

    <select id="selectvideo" resultMap="FfwyVideoResult">

SELECT   t1.video_id,
        t1.video_title,
        t1.video_path,
        t1.video_love,
        t1.video_trans,
        t1.video_intro,
        t1.create_time,
		t2.photo,
		 t2.user_name
	FROM 		ffwy_video  t1		LEFT JOIN  ffwy_user t2  ON  t1.user_id=t2.user_id
	WHERE t1.video_id=#{videoId} and t1.video_status=0
			GROUP  BY t1.video_id  DESC
    </select>

    <select id="selectvideolikepersonAll" parameterType="Long" resultMap="FfwyVideoResult">
        SELECT u.user_id ,u.user_name ,u.photo,a.video_id,a.video_title,a.video_path,
        a.video_love,a.video_trans,a.video_intro,a.create_time, count(b.video_id) countcomment,
        ( SELECT count( * ) FROM ffwy_video_love t3 WHERE t3.video_id = a.video_id AND t3.user_id = #{userId} GROUP BY t3.video_id  ) isLove
        FROM ffwy_video a LEFT JOIN ffwy_video_comment b on a.video_id = b.video_id
        LEFT JOIN ffwy_user u on u.user_id = a.user_id
        <where>
            a.video_status = 0 and a.user_id = #{userId} GROUP BY video_id
        </where>
    </select>

    <select id="selectvidedzsum" parameterType="Long" resultMap="FfwyVideoResult">
        SELECT count(user_id) video_love FROM ffwy_video_love WHERE video_id = #{videoId}
    </select>

</mapper>